<div th:fragment="articleCard(title)" class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/736x/01/54/77/015477a52ae7d2742043b42c91fe18b0.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <img src="https://i.pinimg.com/564x/2a/1f/6c/2a1f6c5a82f626c60784d98573e4af5a.jpg" alt="..." style="width: 50px; border-radius: 50%" />
    <h5 th:text="${title}" class="card-title">Fire Fox</h5>
    <p class="card-text">fire fox of the fairy tailllll</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>