
<div th:fragment="artcleCard(profile)" class="container mt-5" style="background: #91d6ff">
  <form th:object="${article}" th:action="@{/handleAddArticle}" method="POST" enctype="multipart/form-data">
    <div class="d-flex bg-light py-4 rounded justify-content-center ">
      <div class="profile-section  d-flex flex-column align-items-center">
        <img id="output-image" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="profile image ">
        <input class="form-control" name="file" th:field="*{file}" type="file" onchange="loadFile(event)">
      </div>
      <div class="input-section ms-3">

        <h3> New Student </h3>
        <div class="d-flex justify-content-between">
          <div>
            <label for="articleTitle"> Student Name </label>
            <input class="form-control" id="articleTitle" type="text" th:field="*{title}">
            <div class="form-text text-danger " th:errors="*{title}"> </div>
          </div>
          <div>
            <label for="authorSelect"> Choose Author</label>
            <select id="authorSelect" th:field="*{authorId}"  class="form-select">
              <option value="0"> Choose Author </option>
              <option th:each="author : ${authors}"  th:value="${author.id}" th:text="${author.name}">One </option>

            </select>
          </div>

        </div>


        <label for="articleDescription"> Student Email </label>
        <textarea id="articleDescription" th:field="*{description}" class="form-control "></textarea>
        <div class="form-text text-danger " th:errors="*{description}"> </div>



        <div class="d-flex justify-content-between mt-2">
          <button class="btn btn-warning" type="submit"> Input Student </button>
          <button th:href="@{/index}" class="btn btn-primary"> Cancel</button>
        </div>


      </div>
    </div>
  </form>
</div>

<script>

  function loadFile(event){
    let image = document.getElementById('output-image')
    image.src = URL.createObjectURL( event.target.files[0])
  }
</script>