

<div th:fragment="artcleCard(table)" class="container   mt-5 rounded ">
  <!--        <h3> Article Management System </h3>-->
  <h3> Student Management System </h3>
  <a  th:href="@{/form-add-article}" class="btn btn-primary"> Add New Student Information  </a>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Gmail</th>
      <th scope="col">teacher</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" article :${allArticles}">
      <th scope="row" th:text="${article.id}"></th>
      <th class="article-img" scope="row" >
        <img src="" th:src="${article.imgUrl}" alt="" style="width: 250px">
      </th>
      <td th:text="${article.title}"></td>
      <td th:text="${article.description}"></td>
      <td th:text="${article.author.name}"></td>
      <td>
        <div>
          <a th:href="@{/post/{postID}(postID=${article.id})}" class="btn btn-warning"> View </a>
          <!--                        <a th:href="@{'/post/'+${article.id}}"></a>-->
<!--          <button class="btn btn-danger"> Delete</button>-->
        </div>

      </td>
    </tr>

    </tbody>
  </table>


</div>

