<!DOCTYPE html>
<html   lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layouts/master-layout}">
<head>
    <meta charset="UTF-8">
    <title>Art Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" integrity="sha512-N415hCJJdJx+1UBfULt+i+ihvOn42V/kOjOpp1UTh4CZ70Hx5bDlKryWaqEKfY/8EYOu/C2MuyaluJryK1Lb5Q==" crossorigin="anonymous" />
    <style>
        .container{
            padding: 3%;
        }
    </style>
</head>
<body>
<div>
    <div th:insert="~{fragment/navber-nav::artcleCard(navbar)} "></div>
    <div class="album bg-body-tertiary">
        <div class="container">
            <div class="row ">
                <div class="col-3" th:each="user: ${users}">
                    <div th:insert="~{fragment/article-card::articleCard(title)}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>